@model Person
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Home</h2>

@using (Html.BeginForm())
{
    <div>Name: @Html.TextBoxFor(x => x.Name)</div>

    <div>Address 1: @Html.TextBoxFor(x => x.Address.Address1)</div>
    
    <div>Address 2: @Html.TextBoxFor(x => x.Address.Address2)</div>
}

<a href="javascript:// Test It!" id="testIt">Test it!</a>

<div id="output"></div>